<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '@Microsoft.AspNet.Mvc.Facebook.GlobalFacebookConfiguration.Configuration.AppId', // App ID
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });
        };

        // Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
    </script>

    <div id="wrapper">
        <header id="topHeader">
            <h3><a href="#">Pengenalan tentang ASP.NET MVC 4</a></h3>
            <span id="arrow"></span>
            <p>Versi dikemaskini jika tutorial ini boleh didapati di sini dengan menggunakan Visual Studio 2013. tutorial baru menggunakan ASP.NET MVC 5, yang menyediakan lebih banyak penambahbaikan tutorial ini.</p>
            <p>Tutorial ini akan mengajar anda asas-asas membina ASP.NET MVC permohonan 4 web menggunakan Microsoft Visual Studio Express 2012 atau Visual Web Developer 2010 Express Service Pack 1 Visual Studio 2012 adalah disyorkan, anda tidak perlu memasang apa-apa untuk menyelesaikan tutorial. Jika anda menggunakan Visual Studio 2010 anda mesti memasang komponen-komponen di bawah. Anda boleh memasang semua daripada mereka dengan mengklik pautan berikut:</p>            
            <p>
                Ketahui lebih lanjut mengenai <a href="http://go.microsoft.com/fwlink/?LinkId=269921" target="_blank">membina aplikasi Facebook dengan menggunakan ASP.NET MVC</a>.
            </p>
        </header>
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>